@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Lora:ital,wght@0,400;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
}

#titulo {
    color:#ffffff;
    text-align:center;
    font-family: 'Cabin', sans-serif;
}

.titulo2{
    margin-top: 2%;
    color: #5f00b8;
    text-align:center;
    font-family: 'Cabin', sans-serif;
}

body {
    color:#333;
    text-align: justify;
    font-family: 'Cabin', sans-serif;
    margin-bottom: 2%;
}

p {
    font-family: 'Cabin', sans-serif;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
    font-size: 20px;
    line-height: 1.4em;
}



div {
    height: 12vh;
    align-items: center;
    background-color: #B19CD9;
    justify-content: space-around;
    display: flex;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.5);
}

img {
    height: 300px;
    width: 350px;
    margin-top: 2%;
    margin-left: 40%;
    transition: 0.6s;
}

img:hover{
    cursor: pointer;
    transition: 0.5s;
    transform: scale(1.1);
}

#img4 {
    height: 450px;
    width: 400px;
}

.menu-lista{
    display: flex;
}

.menu-lista li{
    margin-left: 12vh;
    list-style: none;
}

.menu-lista li a{
    text-decoration: none;
    color: white;
    font-family: 'Cabin', sans-serif;
    transition: 0.5s;
}

.menu-lista li a:hover{
    opacity: 0.5;
}

#img5 {
    height: 450px;
    width: 450px;
}